@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Model.Movie m =
    (Model.Movie)ViewData["Movie"];
    List<Model.Cinema> cs = (List<Model.Cinema>)ViewData["Cinemas"];
    List<Model.Play> ps = (List<Model.Play>)ViewData["Plays"];
}

<div class="information">        
		<div class="copy">         <!--电影海报-->
		<img src="@m.CoverURL" alt="@m.MovieName">		

		</div>
		<div class="inm">                      <!--电影简介-->
		<dt>电影名称:&nbsp;@m.MovieName</dt>
		<dd>导演:&nbsp;@m.Director</dd>
        <dd>主演:&nbsp;@m.Protagonist</dd>
        <dd>时长:&nbsp;@m.RunTime 分钟</dd>
        <dd>上映时间:&nbsp;@m.ReleaseDate</dd>
		</div>
		<div class="view">                    <!--电影预告片-->
		</div>
	</div>
<hr/>
<div class="show">         <!--场次信息-->
	<span class="time"><!-- #BeginDate format:fCh2 -->@string.Format("{0}年{1}月{2}日   {3}", DateTime.Now.Year,DateTime.Now.Month,DateTime.Now.Day,DateTime.Today.DayOfWeek) <!-- #EndDate -->
	</span>
	<div class="rate">
<select name=""><option>按最低价排序</option><option>按影院评分排序</option><option>按地理位置排序</option></select>
	<input name="" type="button" value="排序">
	</div>
	<hr>
	
	<div class="each">
    @{
        foreach (Model.Cinema c in cs)
        {
		<div class="tu">
			<span>@c.CinemaName</span>
            @{
            if (c.CinemaPic.Count > 0)
            { 
                <dd><img src="@c.CinemaPic[0].PicURL" /></dd>
            }
            }
            <dd>地址:&nbsp;@c.Address</dd>
            <dd>电话:&nbsp;@c.CinemaTel</dd>
            <!--
			<img src="../css/image/use1.jpg">
            -->
		</div>
		    
		<div class="item">
        <!--
		<p>今日最低价场次</p>
		<table width="100" border="1">
		  <tbody><tr>
			<td>6:00</td>
			<td>20元</td>
		  </tr>
		</tbody></table>
		-->
		<p>今日场次</p>
		
		<table border="1">
		  <tbody><tr>
         @{
                    foreach (Model.Play p in ps)
                    {
                        if (p.CinemaID == c.CinemaID)
                        {
                            if (@p.Price == 0)
                            {
                        <td>@p.PlayName&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> 
                            }
                            else
                            {                                          
			            <td>@p.PlayName&nbsp;￥@p.Price</td>
                            }
                        }
                    }
            }
		  </tr>
		</tbody></table>
		</div>	
        <hr />
        }
        }
	</div><hr>
	<!--
	<table width="100%" border="1" class="inform">
  <tr>
    <td width="16%">影院信息</td>   
    <td width="84%">场次及价格信息</td>
  </tr>
  <tr>
    <td height="140">华谊兄弟影城</td>
    <td>                               
	<div>
	最低价场次：<table width="100" border="1" align="center"><tr><td>5:00</td><td>10元</td></tr></table>
	</div>
	<table width="100%" border="1">
  <tr>
    <td>9:00</td>
    <td>30元</td>
    <td>10:00</td>
    <td>30元</td>
    <td>10:00</td>
    <td>30元</td>
  </tr>
  <tr>
    <td>11:00</td>
    <td>50元</td>
    <td>11:00</td>
    <td>50元</td>
    <td>11:00</td>
    <td>50元</td>
  </tr>
</table>

	
	</td>
  </tr>
</table>
	-->

	</div>
