@{
    ViewBag.Title = "影院介绍";
    Model.Cinema c = (Model.Cinema)ViewData["Cinema"];
}

<link rel="stylesheet" type="text/css" href="/Content/cinema.css">


	<!--页面主体内容-->

<div class=tablist>
    <div class="navbox">
      <nav>
        <ul id="nav">
            <li><a href="#tab1">影院信息</a></li>
            <li><a href="#tab2">周边信息</a></li>
            <li><a href="#tab3">优惠活动</a></li>
            <li><a href="#tab4">会员活动</a></li>
        </ul>
      </nav>
    </div>
    <div id="tabbody" class="tab_body">
    <div id="tab1" class="tab_content">
        <h1>@c.CinemaName</h1>
        @{
            if(c.CinemaPic.Count>0)
            {<img src="@c.CinemaPic[0].PicURL" />}
        }
        <h3>@c.CinemaGrade.Remove(3)</h3>
        <h4>@c.CinemaTel</h4>
        <p>@c.Address</p>
    </div>
    <div id="tab2" class="tab_content">
        <article>
        <p>@c.Dining</p>
        <p>@c.Park</p>
        <p>@c.GameCenter</p>
        <p>@c.Intro3D</p>
        <p>@c.IntroVIP</p>
        </article>
    </div>
    <div id="tab3" class="tab_content">
        <article>@c.Privilege</article>
    </div>
    <div id="tab4" class="tab_content">
        <article>@c.VIP</article>
    </div>
    </div>

</div>